/* Button */

.button-wrapper {
    background: none;
    border: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 59px;
    gap: 12px;
    background: #ffc85e;
    border-radius: 79px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    box-sizing: border-box;
    transition: background 0.3s ease;
}

.button:hover {
    background-color: #ffbf45;

}

.button:active {
    background-color: #ffae12;
}

.button-icon {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

/* Cart */

.cart-container {
    display: flex;
    align-items: center;
    width: 128px;
    height: 46px;
    position: relative;
}

.icon-cart {
    width: 46px;
    height: 46px;
    background: none;
}

.icon-cart svg {
    width: 46px;
    height: 46px;
}

.item-count-circle {
    position: absolute;
    bottom: 19px;
    left: 31px;
    width: 22px;
    height: 22px;
    background-color: #FFC85E;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-count-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    line-height: 17px;
}

.cart-info {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

.cart-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3F4E65;
}

.total-amount {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #111111;
}

/* Local Switcher */

.locale-switcher {
    display: flex;
    align-items: center;
    gap: 6px;
}

.language-text {
    display: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: #3F4E65;
}

/* Logo Button */
.logo-icon {
    width: 156px;
    height: 66px;
}

.logo-icon svg {
    width: 156px;
    height: 66px;
}

/* Search Bar */

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 13px 10px 13px 20px;
    gap: 10px;
    background: #ededed;
    border-radius: 36px;
    position: relative;
    width: 263px;
    height: 59px;
    box-sizing: border-box;
    transition: background 0.3s;
}

.search-bar:hover {
    background: #e0e0e0;
}

.search-input {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #5c6370;
    opacity: 1;
    border: none;
    outline: none;
    background: none;
    width: 100%;
}

.search-input::placeholder {
    opacity: 0.6;
}

.search-button {
    margin: 0 auto;
    width: 39px;
    height: 39px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    flex-grow: 0;
}

.search-icon-circle {
    background: #ffc85e;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background 0.3s;
}

.search-button:hover .search-icon-circle {
    background: #ffbf45;
}

.search-button:active .search-icon-circle {
    background-color: #ffae12;
}

.search-icon {
    position: absolute;
    width: 18.35px;
    height: 18.35px;
}

/* Navigation Menu */

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 60px;
    min-width: 512px;
    height: 29px;
}

.menuItem {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #3F4E65;
    text-decoration: none;
    cursor: pointer;
}

.menuItem:nth-child(1) {
    width: 82px;
}

.menuItem:nth-child(2) {
    min-width: 129px;
    max-width: 140px;
}

.menuItem:nth-child(3) {
    width: 56px;
}

.menuItem:nth-child(4) {
    width: 65px;
}

.menuItem:nth-child(1)::after,
.menuItem:nth-child(2)::after,
.menuItem:nth-child(3)::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 29px;
    border: 1px dashed #3F4E65;
    opacity: 0.1;
}

@media (max-width: 1439px) {

    /* Search Bar */
    .search-bar {
        width: 200px;
    }

    /* Navigation Menu */
    .menu {
        gap: 30px;
        min-width: 420px;
    }


    .menuItem:nth-child(1) {
        width: auto;
    }

    /* .menuItem:nth-child(2) {
        min-width: 129px;
        max-width: 140px;
    }
      
    .menuItem:nth-child(3) {
        width: 56px;
    }
      
    .menuItem:nth-child(4) {
        width: 65px;
    } */

    .menuItem:nth-child(1)::after,
    .menuItem:nth-child(2)::after,
    .menuItem:nth-child(3)::after {
        right: -15px;
    }
}

@media (max-width: 940px) {

    /* Cart */

    .cart-container {
        width: 32px;
        height: 30px;
    }

    .cart-info {
        display: none;
    }

    .icon-cart {
        width: 25px;
        height: 25px;
    }

    .icon-cart svg {
        width: 25px;
        height: 25px;
    }

    .item-count-circle {
        width: 17px;
        height: 17px;
        bottom: 13px;
        left: 15px;
    }

    .item-count-text {
        font-size: 10px;
        line-height: 12px;
    }

    /* Local Switcher */

    .language-text {
        display: inline;
    }

    /* Logo Button */

    .logo-icon {
        width: 97px;
        height: 41px;
    }

    .logo-icon svg {
        width: 97px;
        height: 41px;
    }

    /* Navigation Menu */

    .menu {
        margin-left: 2px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-width: auto;
        height: auto;
        justify-content: flex-start;
        align-items: flex-start;
        position: unset;
    }

    .menuItem {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: #3F4E65;
        text-decoration: none;
    }

    .menuItem::after {
        display: none;
    }

}
