@import '../../vars.scss';
@import '../../mixins.scss';

/* Cart */

.cart-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 128px;
    height: 46px;

    @include tabletLarge {
        width: 50px;
        height: 46px;
    }
    
    @include tabletSmall {
        width: 32px;
        height: 30px;
    }
}
    
.icon-cart {
    width: 46px;
    height: 46px;
    background: none;

    svg {
        width: 46px;
        height: 46px;
    }

    @include tabletSmall {
        width: 25px;
        height: 25px;

        svg {
            width: 25px;
            height: 25px;
        }
    }
}

.item-count-circle {
    position: absolute;
    bottom: 19px;
    left: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    font-family: $font-inter;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 17px;
    color: $background-color;
    background-color: $primary-color;
    border: 3px solid $background-color;
    border-radius: 50%;

    @include tabletSmall {
        bottom: 13px;
        left: 15px;
        width: 17px;
        height: 17px;
        font-size: 10px;
        line-height: 12px;
    }
}
    
.cart-info {
    display: flex;
    flex-direction: column;
    margin-left: 24px;

    @include tabletLarge {
        display: none;
    }
}
    
.cart-text {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: $second-color;
}
    
.total-amount {
    font-family: $font-inter;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: $text-color;
}

/* Logo Button */
.logo-icon {
    width: 156px;
    height: 66px;

    svg {
        width: 156px;
        height: 66px;
    }

    @include tabletLarge {
        width: 130px;
        height: 55px;
    
        svg {
            width: 130px;
            height: 55px;
        }
    }

    @include tabletSmall {
        width: 97px;
        height: 41px;
    
        svg {
            width: 97px;
            height: 41px;
        }
    }
}

/* Search Bar */

.search-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 263px;
    height: 59px;
    padding: 13px 10px 13px 20px;
    gap: 10px;
    box-sizing: border-box;
    background: $search-color;
    border-radius: 36px;
    transition: background 0.3s;

    &:hover {
        background: $search-color-hover;
    }

    @include laptop {
        width: 200px;
    }
}
  
.search-input {
    width: 100%;
    font-family: $font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    background: none;
    color: $text-color-search;
    border: none;
    opacity: 1;
    outline: none;

    &::placeholder {
        opacity: 0.6;
    }
}
  
.search-button {
    position: relative;
    width: 39px;
    height: 39px;
    padding: 0;
    margin: 0 auto;
    flex-grow: 0;
    background: none;
    border: none;
    cursor: pointer;
}
  
.search-icon-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    background: $primary-color;
    border-radius: 50%;
    transition: background 0.3s;

    &:hover {
        background: $button-hover;
    }

    &:active {
        background-color: $button-active;
    }
}
  
.search-icon {
    position: absolute;
    width: 18px;
    height: 18px;
}

/* Navigation Menu */

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 512px;
    height: 29px;
    padding: 0;
    gap: 60px;

    @include laptop {
        min-width: 420px;
        gap: 30px;
    }

    @include tabletLarge {
        min-width: fit-content;
        gap: 20px;
    }

    @include tabletSmall {
        position: unset;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: auto;
        height: auto;
        gap: 20px;
        margin-left: 2px;
    }
}

.menuItem {
    position: relative;
    font-family: $font-inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $second-color;
    text-decoration: none;

    &:nth-child(1) {
        width: 82px;

        &::after {
            position: absolute;
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 29px;
            border: 1px dashed $second-color;
            opacity: 0.1;
            content: "";
            pointer-events: none;
        }
    }

    &:nth-child(2) {
        min-width: 129px;
        max-width: 140px;

        &::after {
            position: absolute;
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 29px;
            border: 1px dashed $second-color;
            opacity: 0.1;
            content: "";
            pointer-events: none;
        }
    }

    &:nth-child(3) {
        width: 56px;

        &::after {
            position: absolute;
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 29px;
            border: 1px dashed $second-color;
            opacity: 0.1;
            content: "";
            pointer-events: none;
        }
    }

    &:nth-child(4) {
        width: 65px;
    }

    @include laptop {
        &:nth-child(1) {
            width: auto;
        }

        &:nth-child(1)::after,
        &:nth-child(2)::after,
        &:nth-child(3)::after {
            right: -15px;
        }
    }

    @include tabletLarge {
        font-size: 12px;

        &:nth-child(1), &:nth-child(2),
        &:nth-child(3), &:nth-child(4) {
            width: fit-content;
            min-width: fit-content;
        }

        &:nth-child(1)::after,
        &:nth-child(2)::after,
        &:nth-child(3)::after {
            right: -10px;
        }
    }

    @include tabletSmall {
        font-family: $font-inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        text-decoration: none;
        color: $second-color;

        &::after {
            display: none;
        }
    }
}
