.header {
  position: relative;
  width: 100%;
  height: 170px;
  left: 0;
  top: 0;
  background-color: #ffff;
}

.menuHeader {
  position: absolute;
  height: 61px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 109px;
  display: flex;
  flex-direction: row;
  padding-left: 14.27%;
  padding-right: 3%;
}

.rectangle {
  position: absolute;
  left: 0;
  right: 0;
  top: 61px;
  width: 100%;
  height: 1px;
  background-color: #3F4E65;
  opacity: 0.2;
}

.headerMain {
  position: absolute;
  height: 108px;
  left: 0;
  right: 0;
  top: 61px;
  bottom: 13px;
  display: flex;
  flex-direction: row;
  padding-left: 14.42%;
  padding-right: 14.58%;
}

.rectangleBottom {
  position: absolute;
  left: 0;
  right: 0;
  top: 169px;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #3F4E65;
  opacity: 0.2;
}

.locationBlockHeader {
  margin-left: 0;
  margin-right: auto;
  margin-top: 14px;
}

.navigationMenu {
  margin-right: 184px;
  margin-left: 0;
  margin-top: 16px;
}

.localSwitcher {
  margin-right: 0;
  margin-left: 0;
  margin-top: 12px;
}

.logo { 
  margin-right: 0;
  margin-left: 0;
  margin-top: 20px;
}

.button1 {
  margin-left: 38px;
  margin-right: 0;
  margin-top: 24px;
}

.searchBar {
  margin-left: 15px;
  margin-right: auto;
  margin-top: 24px;
}

.contactCard {
  margin-left: auto;
  margin-right: 50px;
  margin-top: 4px;
  position: relative;
}

.contactCard::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 45%;
  transform: translateY(-45%);
  width: 0;
  height: 49px;
  border: 1px dashed #3F4E65;
  opacity: 0.1;
}

.button2 {
  margin-left: 0;
  margin-right: 50px;
  margin-top: 24px;
  position: relative;
  height: 59px;
}

.button2::after {
  content: "";
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 49px;
  border: 1px dashed #3F4E65;
  opacity: 0.1;
}

.cart {
  margin-right: 0;
  margin-left: 0;
  margin-top: 32px;
}

/* Location and email block */
.wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 493px;
  height: 34px;
}

.locationBlock, .emailBlock {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}

.locationBlock::after  {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 29px;
  border: 1px dashed #3F4E65;
  opacity: 0.1;
}

.addressText, .emailText {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #111111;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.addressText span:first-child,
.emailLink {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #111111;
}

/* Contact Card */

.contact-wrapper {
  background: none;
  border: none;
  min-width: 236px;
  max-width: 270px;
  height: 92px;
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  position: relative;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  margin-top: 19px;
}

.text-phone {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #111111;
}

.text-wh {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3F4E65;
}

.text-call {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #3F4E65;
  text-decoration: underline;
}

.image {
  width: 70px;
  height: 92px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 0 0 50% 50%;
}

.ellipse {
  position: absolute;
  top: 27px;
  right: 4px;
  width: 9px;
  height: 9px;
  background: #1FD85D;
  border: 2px solid #F0F6FA;
  border-radius: 50%;
}

/* Adaptation */

.mobileCart, .mobileMenuButton, .mobileLogo,
.mobileCatalog, .mobileCatalogText, .mobileDivider1,
.mobileSearch, .mobileSearchText, .tabletButton1, 
.tabletButton2 {
  display: none;
}

@media (min-width: 1675px) and (max-width: 1875px) {
  .menuHeader {
    padding-left: 8.27%;
  }
  .headerMain {
    padding-left: 8.42%;
    padding-right: 10.58%;
  }
  .navigationMenu {
    margin-right: 100px;
  }
}

@media (min-width: 1440px) and (max-width: 1674px) {
  .menuHeader {
    padding-left: 3%;
    padding-right: 2%;
  }
  .headerMain {
    padding-left: 3%;
    padding-right: 5%;
  }
  .navigationMenu {
    margin-right: 30px;
  }
}

@media (max-width: 1439px) {
  .button1, .button2, .image, .ellipse,
  .locationBlock svg, .emailBlock svg {
    display: none;
  }

  .tabletButton1, .tabletButton2 {
    display: inline;
  }

  .menuHeader {
    padding-left: 3%;
    padding-right: 1%;
  }
  .headerMain {
    padding-left: 3%;
    padding-right: 4%;
  }
  .navigationMenu {
    margin-right: 10px;
  }

  .wrapper {
    gap: 30px;
    width: 404px;
  }

  .locationBlock::after {
    right: -15px;
  }
  
  .tabletButton1 {
    margin-left: 30px;
    margin-right: 0;
    margin-top: 34px;
    position: relative;
    height: 39px;
  }

  .tabletButton1::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 49px;
    border: 1px dashed #3F4E65;
    opacity: 0.1;
  }
  
  .searchBar {
    margin-left: 30px;
  }
  
  .contactCard {
    margin-right: 30px;
  }

  .contactCard::after {
    right: -15px;
  }

  .contact-wrapper {
    min-width: 142px;
  }

  .text-phone {
    font-size: 12px;
  }

  .text-call {
    font-size: 12px;
  }
  
  .tabletButton2 {
    margin-left: 0;
    margin-right: 30px;
    margin-top: 34px;
    position: relative;
    height: 39px;
  }

  .tabletButton2::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 49px;
    border: 1px dashed #3F4E65;
    opacity: 0.1;
  }
  
  .tabletCart {
    margin-right: 0;
    margin-left: 0;
    margin-top: 32px;
  }

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
}

.mobileMenu {
  width: 100%;
  max-width: 400px;
  height: 591px;
  background-color: #ffff;
  border-radius: 8px;
  padding: 20px;
  animation: slideDown 0.3s ease;
  overflow-y: auto;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 940px) {

  .locationBlockHeader, .navigationMenu, .localSwitcher, .logo, 
  .button1, .button2, .searchBar, .contactCard, .cart,
  .tabletButton1, .tabletButton2 {
    display: none;
  }

  .mobileCart, .mobileMenuButton, .mobileLogo,
  .mobileCatalog, .mobileCatalogText, .mobileDivider1,
  .mobileSearch, .mobileSearchText {
    display: inline;
  }

  .header {
    width: 100%;
    height: 103px;
    position: fixed;
    z-index: 1000;
  }

  .rectangleBottom {
    top: 102px;
    bottom: 0;
  }

  .rectangle {
    top: 60px;
    bottom: 41px;
  }

  .menuHeader {
    top: 10px;
    bottom: 42px;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .headerMain {
    top: 62px;
    bottom: 1px;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .mobileMenuButton {
    margin-left: 4.68%;
    margin-top: 5px;
  }

  .mobileLogo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0px;
  }

  .mobileCart {
    margin-right: 4.68%;
    margin-top: 8px;
  }

  .mobileCatalog {
    width: 70px;
    height: 15px;
    margin-left: 14.06%;
    margin-top: 13px;
    display: flex;
    gap: 6px;
    text-decoration: none;
  }

  .mobileCatalogText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #3F4E65;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    text-align: left;
  }

  .mobileDivider1 {
    width: 0;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    border: 1px dashed #3F4E65;
    opacity: 0.1;
  }

  .mobileSearch {
    width: 59px;
    height: 15px;
    margin-right: 16.56%;
    margin-top: 13px;
    display: flex;
    gap: 6px;
    text-decoration: none;
  }

  .mobileSearchText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #3F4E65;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    text-align: left;
  }

}
