.wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 493px;
    height: 34px;
}

.locationBlock, .emailBlock {
    display: flex;
    align-items: center;
    gap: 15px;
}

.addressText, .emailText {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #111111;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}

.addressText span:first-child,
.emailLink {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: #111111;
}

.divider {
    width: 0;
    height: 29px;
    border: 1px dashed #3F4E65;
    opacity: 0.1;
}
