@import "vars";
@import "mixins";

.ui-button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: $text-color-light;

    background-color: $primary-color;
    border-radius: 80px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $button-hover;

        transition: background-color 0.3s;
    }

    &--xs {
        padding: 8px;
    }

    &--sm {
        padding: 10px 25px;
        font-size: 10px;
    }

    &--md {
        padding: 21px;
    }

    &--lg {
        padding: 34px;
        font-size: 18px;
        line-height: 22px;
    }
}
