@import "vars";
@import "mixins";

.page-catalog {
    display: flex;
    flex-direction: column;
    max-width: 1367px;
    margin: 0 auto;
    margin-bottom: auto;

    &__title {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 500;
        line-height: 48px;

    }

    &__wrapper {
        display: flex;
        margin-top: 50px;
    }

    &__main-wrapper {
        display: flex;
        margin-top: 30px;
    }

    &__sorting-bar {
        display: flex;
        margin-left: auto;
        align-items: center;
    }

    &__param-selector {
        display: flex;
        width: 100%;
        height: 70px;
        margin-top: 18px;

        &-subcategory{
            width: 120px;
            height: 70px;
            margin-left: 12px;

            font-weight: 400;
            font-size: 14px;
            text-wrap:inherit;

            border-radius: 0%;
            color: $second-color;         
            box-shadow: $box-shadow;
            background: $background-color;

            &:hover{
                background: $gradient-color;
            }
        }
    }

    &__filter-sidebar {
        width: 238px;
        margin-top: 20px;
    }

    &__product-grid {
        width: 80%;
        margin-left: 108px;
    }

    &__product-grid .cards{
        grid-template-columns: repeat(3, auto);
    }
}
