.featured-products-head {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    margin-bottom: 50px;
}

.featured-products-head span {
    color: #FFC85E;
    font-weight: 800;
}

.featured-products {
    justify-content: center;
    max-width: 1368px;
    margin: 0 auto;
}
.featured-products h2 {
    text-transform: uppercase;
}

@media screen and (max-width: 651px) {
    .featured-products-head {
        font-size: 20px;
    }
}