@import "vars";
@import "mixins";

.banner {
    position: relative;
    height: 790px;
    background-image: url("/image/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    &-blur {
        position: absolute;
        top: 0;
        width: 47%;
        height: 100%;
        background-color: $gradient-color;
        background: linear-gradient(89deg, #8A94AB 0.13%, rgba(138, 148, 171, 0));
        backdrop-filter: blur(4px);

    }

    &-container {
        position: relative;
        display: block;
        height: 692px;
        max-width: 1366px;
        margin: 0 auto;
        padding-top: 98px;


    }


    &-content {
        width: 570px;
        height: 100%;
        text-align: left;
        color: $background-color;

        h1 {
            font-size: 70px;
            line-height: 1.1;
        }

        h2 {
            margin-top: 40px;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            text-transform: uppercase;

        }

        .btn-catalog {
            padding: 36px 88px;
            margin-top: 60px;
            letter-spacing: 0.15em;
            text-transform: uppercase;


        }

        a {
            text-decoration: none;
        }

    }

    &-footer {
        display: inline-flex;
        margin-top: 92px;

        .btn-banner-plus {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        &-promo {
            font-size: 14px;
            margin-right: 36px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
        }

        b {
            font-weight: 700;
        }
    }

}

@include laptop {
    .banner {
        .banner-content {
            margin-left: 16px;
        }

        .banner-blur {
            width: 600px;
        }
    }

}

@include tabletSmall {
    .banner-content {
        h1 {
            font-size: 56px;
        }

        h2 {
            font-size: 26px;
        }

    }
}

@include mobile {
    .banner {
        height: 300px;
        padding-top: 50px;

        &-container {
            width: 82%;
            height: 40%;
            padding-top: 50px;
            display: flex;
            background-color: $gradient-color;
            background: linear-gradient(89.86deg, #8A94AB 0.13%, rgba(138, 148, 171, 0) 99.89%);
            backdrop-filter: blur(4px);

            .banner-content {
                width: 100%;
                text-align: center;
                margin-left: 10px;
                margin-right: 10px;

                h1 {
                    font-size: 18px;
                    word-spacing: 10px;
                    line-height: 19.8px;
                }

                h2 {
                    margin-top: 10px;
                    font-size: 15px;
                    line-height: 15px;
                    font-weight: 500;
                }
            }
        }
    }

    .banner-footer-mobile {
        display: block;
        padding-left: 15px;

        .btn-banner-plus {
            width: 18px;
            height: 18px;
            font-size: 10px;
            margin-right: 5px;
        }

        &>span {
            display: flex;
            margin-top: 16px;
            align-items: center;
            font-size: 10px;
            font-weight: 400;
            line-height: 15px;
            text-align: left;

        }

        b {
            font-weight: 700;
        }

    }

}
