@import "vars";
@import "mixins";

.banner-footer-mobile {
    display: none;
}

.banner {
    position: relative;
    height: 790px;
    background-image: url("/image/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    &-blur {
        position: absolute;
        top: 0;
        width: 47%;
        height: 100%;
        background-color: #8A94AB;
        background: linear-gradient(89deg, #8A94AB 0.13%, rgba(138, 148, 171, 0));
        backdrop-filter: blur(4px);

    }

    &-container {
        position: relative;
        display: block;
        height: 692px;
        max-width: 1366px;
        margin: 0 auto;
        padding-top: 98px;
    }


    &-content {
        width: 570px;
        height: 100%;
        text-align: left;
        color: #FFFFFF;

        h1 {
            font-size: 70px;
            line-height: 1.1;
        }

        h2 {
            margin-top: 40px;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            text-transform: uppercase;

        }

        .btn-to-products {
            width: 300px;
            height: 95px;
            margin-top: 40px;
            background-color: $primary-color;
            border-radius: 80px;
            border: 0;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                background-color: $button-hover;
            }

            a {
                font-size: 18px;
                font-weight: 700;
                color: #FFFFFF;
                line-height: 22px;
                letter-spacing: 0.15em;
                text-decoration: none;
            }

        }


    }

    &-footer {
        display: inline-flex;
        margin-top: 92px;

        .btn-banner-plus {
            border-radius: 100px;
            border: 0;
            background-color: $primary-color;
            margin-right: 8px;
            color: #FFFFFF;
        }

        span {
            font-size: 14px;
            margin-right: 36px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;

        }

        b {
            font-weight: 700;
        }
    }

}

@media (max-width: 1390px) {
    .banner {
        .banner-content {
            margin-left: 16px;

        }

        .banner-blur {
            width: 600px;
        }
    }


}

@include  tabletSmall{
    .banner-content {
        h1{
            font-size: 56px;
        }
        h2 {
            font-size: 26px;
        }
        
    }
}

@include mobile {

    .btn-to-products,
    #banner-footer-1 {
        display: none;
    }

    .banner {
        height: 300px;
        padding-top: 50px;
        &-blur {
            display: none;
        }

        &-container {
            width: 82%;
            height: 40%;
            padding-top: 50px;
            display: flex;
            background-color: #8A94AB;
            background: linear-gradient(89.86deg, #8A94AB 0.13%, rgba(138, 148, 171, 0) 99.89%);
            backdrop-filter: blur(4px);

            .banner-content {
                width: 100%;
                text-align: center;
                margin-left: 10px;
                margin-right: 10px;

                h1 {
                    font-size: 18px;
                    word-spacing: 10px;
                    line-height: 19.8px;
                }

                h2 {
                    margin-top: 10px;
                    font-size: 15px;
                    line-height: 15px;
                    font-weight: 500;
                }
            }
        }
    }

    .banner-footer-mobile {
        display: block;
        padding-left: 15px;

        .btn-banner-plus {
            margin-right: 4px;
            font-size: 10px;
            border-radius: 100px;
            border: 0;
            background-color: $primary-color;
            color: #FFFFFF;
        }


        span {
            font-size: 10px;
            font-weight: 400;
            line-height: 15px;
            text-align: left;

        }

        b {
            font-weight: 700;
        }

        * {
            margin-top: 16px;

        }
    }

}
