.categories-section {
    max-width: 1368px;
    margin-left: auto;
    margin-right: auto;

    h2 {
        font-size: 40px;
        font-weight: 800;
        line-height: 48px;
        color: var(--button-color);
    }

    span {
        font-weight: 500;
        color: var(--text-color);
    }

    .subtitle {
        margin-top: 15px;

        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        color: var(--background-color);
    }
}

.categories-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    gap: 10px;
    padding: 0;
    
    list-style-type: none;
}

.category-item {
    text-align: center;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.category-image {
    object-fit: cover;
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 25px;
}

.category-name {
    margin-top: 20px;
    font-weight: 500;
    line-height: 21px;
    color: var(--text-color);
}