@import '../../../vars.scss';

.button-wrapper {
    padding: 0; 
    margin: 0;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 59px;
    gap: 12px;
    font-family: $font-inter;
    font-size: 14px;
    font-weight: 700;
    box-sizing: border-box;
    background: $primary-color;
    border-radius: 79px;
    color: $background-color;
    transition: background 0.3s ease;

    &:hover {
        background-color: $button-hover;
    }

    &:active {
        background-color: $button-active;
    }
}

.button-icon {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}
