.cards{
    display: grid;
    grid-auto-flow: row;
    justify-items: start;
    justify-content: space-between;
    gap: 21px;
}

.cards-mobile{
    display: none;
}
@media screen and (max-width: 1320px) {
    .cards{
        display: none;     
    }

    .cards-mobile{
        display:block;
        height: 490px;
    }

    .cards-mobile .swiper-pagination-bullet-active{
        background: var(--button-color);
    }
}
@media screen and (min-width: 1320px) {
    .cards{
        grid-template-columns: repeat(4,auto);      
    }
}



