@import "vars";
@import "mixins";

.cards {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, auto);
    justify-items: start;
    justify-content: space-between;
    gap: 21px;

}

.cards-mobile {
    display: none;
}

@include tabletLarge {
    .cards {
        display: none;
    }

    .cards-mobile {
        display: block;
        height: 490px;
    }

    .cards-mobile .swiper-pagination-bullet-active {
        background: $primary-color;
    }
}
