@import "vars";
@import "mixins";

.product-card {
    position: relative;
    height: 432px;
    width: 326px;
    padding: 28px 0px;
    overflow: hidden;
    background: $background-color;
    border-radius: 10px;
    box-shadow: 0px 14px 39px -11px #0000000F;

    &:hover {
        background-color: $search-color;
        transition: background-color 0.4s;
    }

    a {
        text-decoration: none;
    }
}

.product-img {
    position: relative;
    display: flex;
    padding-bottom: 20px;
    height: 220px;
    justify-content: center;
    align-items: center;

    img {
        max-height: 220px;
    }
}

.product {
    position: relative;
    margin: 0 auto;
    width: 282px;
    height: 192px;
    color: #000000;

    &-name {

        overflow: hidden;
        text-wrap: wrap;
        line-height: 20.8px;
        max-height: 64px;
    }

    &-desc {
        margin-top: 21px;
        line-height: 21px;
        font-weight: 500;

        ul {
            font-size: 14px;
        }
    }
}


.product-desc-name {
    font-size: 14px;
    font-weight: 300;
    color: $second-color;
}

.product-footer {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0px;

    .btn-tocart {
        margin-left: 40px;
        text-transform: uppercase;
    }
}

.product-price {
    vertical-align: middle;
}

.popular {
    position: absolute;
    left: 15px;
    top: 0;
    z-index: 1;

    padding: 5px 12px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 0.045em;

    color: $background-color;
    background: $green-color;

    border-radius: 5px;

}

.product-size {
    position: absolute;
    bottom: 10px;
    left: 22px;
    display: flex;
    gap: 5px;
    align-items: flex-end;
    color: $second-color;
    font-size: 12px;
}
