@import 'reset-css';
@import './vars.css';

body {
    font-family: var(--font-inter), sans-serif;
}

html,
body {
	height: 100%;
    display: flex;
	flex-direction: column;
}

.content {
    width: 1368px;
    margin: 0 auto;
	flex: 1 0 auto;
}

@media (max-width: 1440px) {
    .content {
        width: 95%;
    }
}