@import "vars";
@import "mixins";

.ui-icon {
    display: inline-block;
    width: 1em;
    height: 1em;

    &--download {
        width: 17px;
        height: 17px;
        margin-left: 12px;

        background-image: url("/icon/download.svg");
    }

    &--pointer {
        background-image: url("/icon/pointer.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
}
