.button {
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
}

.circle {
    width: 32px;
    height: 32px;
    background-color: #FFC85E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s ease;
}

.button:hover .circle {
    background-color: #ffbf45;
}

.button:active .circle {
    background-color: #ffae12;
}

.icon {
    display: inline-flex;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}

.iconClicked {
    transform: rotate(180deg);
    opacity: 0.8;
}