@import "reset-css";
@import "./vars.scss";

html,
body {
    height: 100%;
    flex-direction: column;
    margin: 0; /* Убираем отступы по умолчанию */

    font-family: $font-inter;
}

.page-main {
    max-width: 1440px; /* Максимальная ширина */
    width: 100%; /* Занимает всю доступную ширину */
    margin: 0 auto; /* Центрирование */
    flex: 1 0 auto; /* Позволяет занимать оставшееся пространство */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}

.page-main > * {
    margin-bottom: 100px; /* Отступ между элементами внутри .page-main */
}

@media (max-width: 1440px) {
    .page-main {
        padding: 0 15px; /* Отступы для меньших экранов */
    }

    .page-main > * {
        margin-top: 103px;
    }
}
