@import "vars";
@import "mixins";

.filter {
    &-section {
        margin-bottom: 20px;
    }

    &-title {
        color: $text-color;
        font-weight: 500;
        line-height: 24px;
    }

    &-subtitle {
        color: $text-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
    }

    &-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            gap: 8px;

            input[type="checkbox"] {
                accent-color: $primary-color;
            }

            label {
                color: $text-color;
                font-size: 14px;
            }
        }
    }

    &-actions {
        display: flex;
        gap: 8px;
        margin-top: 20px;
    }
}

.price {
    &-title {
        color: $text-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;

        &-span {
            color: $second-color;
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;
        }
    }

    &-inputs {
        display: flex;
        width: 232px;
    }
}

#price-min,
#price-max {
    max-width: 100px;
    padding: 8px 12px;
    border-radius: 36px;
    background-color: $search-color;
    border: 1px solid $border-color;
    color: $text-color;
}

.search-box {
    display: flex;
    gap: 4px;
    margin-bottom: 10px;

    
    input {
        background-color: $search-color;
        border: 1px solid $border-color;

        &::placeholder {
            color: $text-color-search;
        }
    }
}

.search-button {
    background: none;
    border: none;
    color: $second-color;
    cursor: pointer;
}

.show-more {
    background: none;
    border: none;
    color: $second-color;
    cursor: pointer;
}

.apply-button,
.reset-button {
    border-radius: 1000px;
    padding: 6px 16px;
}

.apply-button {
    background-color: $primary-color;
    color: $text-color-light;

    &:hover {
        background-color: $button-hover;
    }
}

.reset-button {
    background-color: $search-color;
    color: $second-color;
    border: 1px solid $border-color;

    &:hover {
        background-color: $border-color;
    }
}